PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PORT=3306
DB_PASSWORD=
DB_NAME=bookmart
SESSION_SECRET=your_session_secret_here
PAYPAL_CLIENT_ID=AdWLvQY7qpMhHWtddamLpk9EQJRenQ1U1gl28RJXSlON5SUJuT745wH_qsO0lNjQk7GFL7Qfsab-gz-4
PAYPAL_CLIENT_SECRET=ELmWvray89gJe5MYAiOKI_iIkVx8NW7AwSiVMI1WonFuFccA4ZkBn1OoHsb9mxfKdD_J13ji-l8BEO9V
EMAIL_USER=parammavani16@gmail.com
EMAIL_PASS=baap auip akjg klsj
