PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PORT=3306
DB_PASSWORD=
DB_NAME=bookmart
SESSION_SECRET=your_session_secret_here
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_CLIENT_SECRET=your_paypal_secret_here
