PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PORT=3306
DB_PASSWORD=
DB_NAME=bookmart
SESSION_SECRET=cb1737b9c904241e75054338b6a7a2012cf3033a1de93e0266ce59cb950e6f1d
PAYPAL_CLIENT_ID=AeOUJRICuQVjff67odFgAlHIbgaml0mbbpvTALQcwwo016hBkfZI1atD5aSZ9PlliWC8LHDwY9IgfwZ6
PAYPAL_CLIENT_SECRET=EInS6XfMBW5JuCdFf99wdGoLcpqj94o5HmHdLrVZCqneOXYZwzshZ9VzZXge-23Z6tYHNN_BN_q33Fia

